<!-- The OrderDashboardComponent should contain a list of all orders, a button that starts the workday, and a button that ends the workday.

When the workday begins, a new order should be created every 2 seconds. (Orders should be an incrementing number starting from 1.)
When the workday ends, no more orders should be placed. -->

<div class="jumbotron">
  <button type="button" class="btn btn-primary">Start</button>
  <ul>
    <li></li>
  </ul>
  <button type="button" class="btn btn-danger">End</button>
</div>

